div {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
}

#fixed-div {
  position: fixed;
  background-color: cornflowerblue;
  height: 8%;
  width: 100%;
  z-index: 99;
}

.videos {
  position: absolute;
  top: 8%;
  left: 0;
}

#video-col {
  background-color: darkgreen;
  height: 100%;
  width: 80%;
  float: left;
}

#related-col {
  background-color: coral;
  left: 80%;
  height: 100%;
  width: 20%;
  float: left;
}

#fixed-div > img {
  position: absolute;
  height: 100%;
  width: 10%;
  left: 1px;
  z-index: 100;
}

.buttons {
  display: inline-block;
  position: absolute;
  height: 50px;
  width: 50px;
  fill: rgb(83, 83, 83);
  z-index: 102;
  border: 3px solid red;
}

#youtube_logo {
  display: inline-block;
  position: absolute;
  z-index: 105;
  border: 3px solid red;
}

#create_button {
  left: 75%;
  width: 30%;
}

#search {
  position: absolute;
  height: 100%;
  left: 50%;
  border: solid red;
}

#search_btn {
  height: 60%;
}

#search_bar {
  display: inline;
  width: 480px;
  height: 60%;
  font-size: 200%;
}