html, body {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.fixed-div {
  position: fixed;
  display: flex;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 8%;
  width: 100%;
}

.youtube-logo {
  position: relative;
  display: flex;
  height: 60%;
  width: 10%;
  left: 10px;
}

.search-form {
  position: relative;
  display: flex;
  height: 35px;
  width: minmax(100px, 500px);
}

.search-form > * {
  border-radius: 0;
  border: .05rem solid #868686;
  font-size: 1rem;
}

.search-box {
  display: flex;
  width: 350px;
  padding: 1px .7rem;
  curs;
}

.search-btn {
  position: relative;
  display: flex;
  align-items: center;
  border-left: none;
  background-color: #e6e6e6;
  padding: 0 1.5rem;
}

.search-btn img {
  height: 1.3rem;
}

.buttons {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 15%;
  margin: 20px;
  padding: 0px;
}

.buttons > a > img {
  width: 30px;
}

a.sign-in {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40px;
  min-width: 75px;
  width: 120px;
  border: rgb(6, 95, 212) solid 1px;
  border-radius: 2px;
  text-decoration: none;
  color:  rgb(6, 95, 212);
}

.content-grid {
  position: relative;
  display: grid;
  z-index: 0;
  grid-template-columns: 2.5fr 1fr;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.video-col {
  position: relative;
  display: flex;
  background-color: #f9f9f9;
  top: 8%;
  width: 100%;
  height: 100%;
}

.video-player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 75%;
}

.video-player > iframe {
  position: absolute;
  display: block;
  top: 3%;
  width: 90%;
  height: 80%;
}

.related-col {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 8%;
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
}

.autoplay {
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin: 5% 0;
  font-size: 1.1rem;
  width: 100%;
}

.related-section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2% 0;
}

.video {
  display: flex;
  position: relative;
}

.thumbnail {
  position: relative;
  display: flex;
  width: 35%;
}

.thumbnail::before {
  content: attr(time-attr);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.815);
  color: white;
  border-radius: .1rem;
  margin: 5px;
  padding: .1rem .3rem;
  bottom: 0px;
  right: 0px;
}

.video-description {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-left: 1rem;
  width: 100%;
}

.video-title {
  color: black;
  font-size: 1.1rem;
  text-decoration: none;
}

.channel {
  color: #626262;
  text-decoration: none;
}

.stats {
  color: #626262;
  position: relative;
  display: inline;
}



/*

.recommended-thumbnail {
  width: 100%;
}


#videos_div {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 8%;
  left: 0;
}
#videos_div #video-col {
  background-color: darkgreen;
  height: 100%;
  width: 80%;
  float: left;
}
#videos_div #related-col {
  background-color: coral;
  left: 80%;
  height: 100%;
  width: 20%;
  float: left;
}

.buttons {
  position: absolute;
  height: 50px;
  width: 50px;
  fill: #535353;
  z-index: 102;
}

#youtube_logo {
  position: relative;
  display: inline;
  height: 50%;
  width: 10%;
  top: 25%;
  left: 100px;
  z-index: 105;
}

#create_button {
  left: 75%;
  width: 30%;
}

#search {
  position: absolute;
  height: 50%;
  width: 35%;
  top: 25%;
  left: 30%;
}

#search_bar {
  border-radius: 5px;
  width: 70%;
  height: 85%;
  font-size: 200%;
}

#search_btn {
  position: relative;
  border-radius: 5px;
  height: 95%;
  width: 10%;
  left: -7px;
  top: -4px;
}

#hamburger {
  left: 50px;
  top: 25%;
}
*/